*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
img{display: block;}
body{
    background-color: hsl(47, 88%, 63%);
}
.container{
    background-color: white;
    width: 85%;
    height: auto;
    margin: 35% auto;
    box-shadow: 10px 10px black;
    border-radius: 25px;
    padding: 5%;
}
.banner{
    width: 100%;
    border-radius: 10px;
}
.container h2{
    display: inline-block;
    margin: 10% 0;
    padding: 2.5%;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    font-size: 1.75rem;
}
.date{
    margin-bottom: 5%;
}
.container h1{
    margin: 5% 0;
    font-size: 2.25rem;
    font-weight: 1200;
}
.container .des{
    color: hsl(0, 0%, 42%);
    font-size: 1.25rem;
    line-height: 1.55;
}
.profile{
    margin-top: 5%;
    display: flex;
    align-items: center;
}
.profile p {
    font-size: 1.25rem;
    margin-left: 5% ;
    font-weight: 800;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
        color: hsl(228, 45%, 44%);
}